
body { font-family: 'Inconsolata', monospace;
    font-weight: 300;
    margin: 50;
    font-size: 1.2rem;
    /* line-height: 1.5; */
    color: #383442;
    text-align: left;
    background-color: #ffffff;
    }

#map {
    height: 500px;
}

html, body {
    height: 100%;
    margin: 50;
    padding: 0;
}

h1 {
    color: tomato;
}

button {
    margin: 1.5em;
}

/* Nav Bar Styling */
nav {
    display: flex;
    background: tomato;
  }

#links-right {
    margin-left: auto;
}

nav a {
    display: inline-block;
    color: white;
    padding: 0;
    margin: 1em;
    font-size: 1em;
    font-family: inherit;
  }

#home-search-box {

    background-color: #f8f8f8;
    border: 1px solid #727e96;
    margin: 75px auto 60px;
    padding: 35px;
}
  