<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <title>Map Demo</title>

    <!-- ADD CSS LINK -->
    <!-- <link rel="stylesheet" href="/static/css/base.css"> -->

    {% block head %}{% endblock %}
  </head>

  <body>

    <header>
      <!-- MDN nav HTML element: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav -->
      <nav>
          <section id="links-left">
              <a href="/map/search">Search by NYC Address</a>
          </section>
          <section id="links-right">
              <a href="/">Home</a>
          </section>
      </nav>
    </header>

    {% block body %}
    {% endblock %}
    
  </body>

</html>