{% extends 'base.html' %}

{% block head %}
    <!-- Link to CSS -->
    <link rel="stylesheet" href="/static/css/maps.css"/>
    
    <!-- Load JS code (code that has Google Maps Init fxn) before async script -->
    <script src="/static/js/maps.js"></script>

{% endblock %}

{% block body %}
    <header>
        <!-- MDN nav HTML element: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav -->
        <nav>
            <section id="links-left">
                <a href="/map/search">Search by NYC Address</a>
            </section>
            <section id="links-right">
                <a href="/">Home</a>
            </section>
        </nav>
    </header>

    <h1>Map Demo</h1>

    <button id="geocode-address">
        Geocode Address
    </button>

    
    <div id="map"></div>


    <!-- Added Maura's Google Maps API Key (restricted to home IP address) -->
    <script
    async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnXgYdTZCVDtJeKFWtrgGHQ_x2kUe7zz8&callback=initMap">
    </script>
{% endblock %}