{% extends 'base.html' %}

{% block head %}
    <!-- Link to CSS -->
    <link rel="stylesheet" href="/static/css/maps.css"/>
    
    <!-- Load JS code (code that has Google Maps Init fxn) before async script -->
    <script src="/static/js/ajax-maps.js"></script>

{% endblock %}

{% block body %}

    <h1>Map Demo</h1>

    
    <div id="map"></div>


    <!-- Added Maura's Google Maps API Key (restricted to home IP address) -->
    <script
    async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnXgYdTZCVDtJeKFWtrgGHQ_x2kUe7zz8&callback=initMap">
    </script>
{% endblock %}